.about-section {
	background-color:$grey-light-1;
	padding:7rem 0;
	
}
.amenities-section {
	background-color:$white;
	padding:7rem 0;
}

.testimonials-section {
	padding:15rem 0;
	position:relative;

}
.contact-section {
	padding-top:5rem;
	background-color:$white;
}
.membership-section {
	padding:15rem 0;
	background-color:$grey-light-1;

}